<!DOCTYPE html>
<html>
  <head>
    <title>Tarea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
  	<% if user_signed_in? %>
  		<li>
  			<%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
  		</li>
  	<%end%>

    <nav class="be-red white  ">
      <div class='navbar-inner'>
        <ul class="no-list row">
        
          <h1><li><%= link_to 'Professor', new_professor_path %></li></h1>            
          

          <h1><li><%= link_to 'Course', courses_path %></li></h1>
          <h1><li><%= link_to 'Section', sections_path %></li></h1>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
